$f-400: 1rem;
$f-425: 1.25rem;
$f-450: 1.5rem;
$f-475: 1.75rem;
$f-500: 2rem;
$f-525: 2.25rem;
$f-550: 2.5rem;
$f-575: 2.75rem;
$f-600: 3rem;
$f-625: 3.25rem;
$f-650: 3.5rem;
$f-675: 3.75rem;
$f-700: 4rem;
