@import 'colors';
.aboutMe{
    width: 80%;
    margin: auto;
}

.img{
    background-image: url(../assets/backgroundImageYellow.jpg);
    height: 350px;
    height: 350px;
    border-radius: 50%;
    

}

.contentss{
    padding: 20px;
    background-color: $white-pas;
    border-radius: 5px;
    color: $blue-pas;
    font-weight: lighter;
    
    
}



.education-main{

    width: 80%;
    display: flex;

    .title{
        font-size: 60px;
    }



}