@import './variables/colors';
@import './variables/mediaQueries';
.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 15px;
    &__img{
        background-image: url(../assets/profilePic.jpg);
        background-size: cover;
        background-position: center;
        width: 290px;
        height: 290px;
        border-radius: 50%;
    }
    &__info{
        text-align: center;
        padding: 20px;
        background-color: $white-pas;
        border-radius: 5px;
        color: $charcoal;
        box-shadow: 0 4px 8px 0 rgba($charcoal, 0.2);
        &--title{
            color: $yellow-pas;
            font-size: 40px;
        }
        &--description{
            font-weight: lighter;
            font-size: 25px;
        }
    }
}
.jumbotron{
    background-color: $white-pas;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.education-title{
    padding: 15px 15px;
    background-color:$yellow-pas;
    color: $charcoal;
    font-size: 60px;  
}
.degree{
    color: $yellow-pas;
    font-size: 30px;
    &__title{
        font-size: 25px;
        color:$gray-rhythm;
    }
    &__address{
        font-weight: lighter;
        color:$charcoal;
    }
}
@media (min-width: $tablet) {
    .aboutme{
        flex-direction: row;
        margin-inline: 40px;
        &__info{
            width: 60%;
            &--title{
                color: $yellow-pas;
            }
            &--description{
                font-weight: lighter;
            }
        }
    }
}
@media (min-width: $desktop) {
    .aboutme{
        margin-inline: 250px;
    }
}
