@import './variables/colors';
@import './variables/mediaQueries';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
  &__icon {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      a {
        color: $gray-rhythm;
      }
    }

    &-color {
      font-size: 150px;
      color: $yellow-pas;
    }
  }
}
@media (min-width: $mini-tablet) {
  .contact {
    flex-direction: row;
    column-gap: 100px;
  }
}