@import 'colors';

.contactContainer{
    display: flex;
    column-gap: 100px;
    justify-content: center;
    margin-top: 100px;
}
.contactIcon{
    transition: all .2s ease-in-out; 
    &:hover{
        // -ms-transform: scale(2); /* IE 9 */
        // -webkit-transform: scale(2); /* Safari 3-8 */
        transform: scale(1.1);  
    }

    &-color{
        font-size: 150px;
        color: $yellow-pas;
    }

}

