@import 'colors';


$dark: $charcoal !default;

$navbar-dark-color:                 rgba($light-cyan, .5) !default;
$navbar-dark-hover-color:           rgba($light-cyan, .75) !default;
$navbar-dark-active-color:          $light-cyan !default;
$navbar-dark-disabled-color:        rgba($light-cyan, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($light-cyan, .1) !default;

@import "~bootstrap/scss/bootstrap";