@import 'colors';


$dark: $charcoal !default;
$primary:       $blue-pas !default;
$secondary:     $yellow-pas !default;
$light:         $white-pas !default;




$navbar-light-color:                $blue-pas!default;
$navbar-light-hover-color:          rgba($blue-pas, .7) !default;
$navbar-light-active-color:         rgba($blue-pas, .9) !default;
$navbar-light-disabled-color:       rgba($blue-pas, .3) !default;
$navbar-light-toggler-border-color: rgba($blue-pas, .1) !default;

@import "~bootstrap/scss/bootstrap";