@import 'colors';

    .homepage{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 80px;
            
    }
    .header{
        color: $blue-pas;
        width: 700px;
        border-radius: 15px;
        padding: 50px 50px;
        margin: 50px 50px;
        

        &-title{
            font-size: 100px;
            
        }
        &-subtitle{
            font-weight: lighter;
            font-size: 40px;
            
        }
        
    }
    




