@import 'colors';
@import 'mediaQueries';

    .homepage{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 80px;
            
    }
    .particles-js{
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    .header{

        position: relative;
        width: 700px;
        padding: 50px 50px;
        margin: 50px 50px;

        &-title{
            color: $charcoal;
            font-size: 100px;
        }
        &-subtitle{
            font-weight: lighter;
            font-size: 40px;
            
        }
         
    }
    
    @include tablet{
       
        .header{
            width: 500px;
            margin: 50px 50px;
            padding: 50px 50px;

            &-title{
                font-size: 65px;
            }
            &-subtitle{
                font-weight: lighter;
                font-size: 30px;
            }
        } 
        
    }

    @include mobile {
       
        .header{
            align-items: center;
            width: 375px;
            
            &-title{
                align-items: center;
                font-size: 45px;
               
            }
            &-subtitle{
                align-items: center;
                font-weight: lighter;
                font-size: 25px;
                
            }
        } 
        
    }




