.hex:before {
    content: "";
    width: 0; height: 0;
    border-bottom: 60px solid rgb(200, 240, 240);;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;
}
.hex {
    margin-top: 60px;
    width: 208px;
    height: 110px;
    background-color: rgb(200, 240, 240);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px 15px;

    .content{
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       


        .title{
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 24px;
            color: #4a4a4a;
        }
    }
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid rgb(200, 240, 240);;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}





