@import 'colors';
.hex {
    margin-top: 60px;
    width: 208px;
    height: 110px;
    background-color: $light-cyan;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px 15px;
    
    
    
    &:hover {
        cursor: pointer;
        & .content {
            opacity: 0.5;
          }
    }
    &:before {
        content: "";
        width: 0; height: 0;
        border-bottom: 60px solid $light-cyan;
        border-left: 104px solid transparent;
        border-right: 104px solid transparent;
        position: absolute;
        top: -60px;
    }
    &:after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -60px;
        border-top: 60px solid $light-cyan;
        border-left: 104px solid transparent;
        border-right: 104px solid transparent;
    }
    .content{
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       


        .title{
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 24px;
            color: $ming;
        }
    }

    
    
      
    
}

@media only screen and (max-width: 850px) {
    .hex {
      margin: 80px 80px 80px 80px;
    }
}







