@import 'colors';
.pentagon{

    position: relative;
    display: flex;
    background-color: $white-pas;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

    justify-content: center;
    align-items: center;
    margin: 0 7.5px 15px;

    .content{ 
        color: $blue-pas;
        text-align: center;
        display: block;
    }
    .title{
        height: 90px;
        padding: 0 25px;
        align-items: center;
        margin-top: 30px;
        justify-content: center;
    }

    
    &:hover {
        cursor: pointer;
        background-color: $yellow-pas;
        opacity: 90%;
    }
}








