@import 'mediaQueries';
@import 'colors';

.navMenu{
  height: 80px;
  width: 100%;
  display: flex;
  align-items:flex-start;
  background-color: $charcoal;
  justify-content: left;
  padding-bottom: 5px;
  padding-top: 40px;
  z-index: 10;
  position: relative;
  text-decoration: none;

  &-logo{
    cursor: pointer;
    color: $light-cyan;
    font-size: 19px;
    margin-left: 24px;
    &:hover {
        color: $viridia-green;
        transition: all 0.3s ease;
        text-decoration: none;
      }
   
  }
  &-burger {
    opacity: 0;

    @include tablet {
      color: $light-cyan;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }
  &-options{
    list-style: none;
    text-align: center;
    font-weight: lighter;
    
    @include tablet {
      display: none;
    }
  }

  &-option {
    color: $light-cyan;
    font-size: 18px;
    padding: 35px 10px;

    &:hover {
      color:$viridia-green;
      transition: all 0.3s ease;
      text-decoration: none;
    }
  }
}
