@import './variables/colors';
@import './variables/mediaQueries';
@import './variables/mixins';

.project{
 @include pageDiv;

  .card {
    @include cardContainer;
        
    &__title{
      @include headerCard;
      background-color: $gray-rhythm;
        
    
    } 
    &__name {
      font-size: 30px;
      margin-top: 10px;
      color: $white-pas;
      padding: 1rem 1.5rem;
    }

    &__tools{
      color: $charcoal;
      font-size: 25px;
    }
  

    .fab{
      @include fontAwesome;

    }

    &__toolsDiv{
      display: flex;
      &__description {
      
        text-align: center;
        color: $charcoal;
        font-size: 20px;
        padding: 10px;
      }
    }


    &__footer{
      clip-path: polygon(0 30%, 100% 20%, 100% 100%, 0% 100%);
      background-image: url('../assets/backgroundImageYellow.jpg');
      height: 115px;
      align-content: flex-end;
      background-color: $gray-lavander;

      &__content{
        margin-top: 25px;
      }

      &__icon{
        padding:10px;
        align-content: center;
        color: $gray-rhythm;
        font-size: 50px;
      }
      
    }

    &:hover {
      &__icon{
        color: $maize-yellow;
      }
    }

  }
}


@include tablet{
  .card{
      width: 325px;
  }  


}


