@import './variables/colors';
@import './variables/mediaQueries.scss';

.project-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 20px;

}
@media (min-width: $small-desktop) {
    .project-menu{
        flex-direction: row;
        margin-inline: 100px;
    }
}