@import './variables/colors';
@import './variables/mediaQueries.scss';

.project-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 20px;

}
@media (min-width: $tablet) {
    
}