@import './variables/colors';
@import './variables/mediaQueries';
@import './variables/mixins';

.project{
  justify-content: center;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba($charcoal, 0.3);
  background-color: $white-pas;
  text-align: center;
  margin: 10px;
  border: none;  
    &__title{
      @include headerCard;
      background-color: $gray-rhythm;
    } 
    &__name {
      font-size: 30px;
      margin-top: 10px;
      color: $white-pas;
      padding: 1rem 1.5rem;
    }
    &__section-title{
      color: $charcoal;
      font-size: 25px;
    }
    .fab{
      @include fontAwesome;
    }
    &__tools{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      &__desc{
        text-align: center;
        color: $charcoal;
        font-size: 20px;
      }
    }
    &__footer{
      clip-path: polygon(0 30%, 100% 20%, 100% 100%, 0% 100%);
      background-image: url('../assets/backgroundImageYellow.jpg');
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray-lavander;
      gap: 20px;
      &__icon{
        margin-block-start: 20px;
        align-content: center;
        color: $gray-rhythm;
        font-size: 50px;
      }
    }

    &:hover {
      &__icon{
        color: $maize-yellow;
      }
    }
}


@media (min-width: $tablet) {
  .project{
        width: 60%;
  }

}


@media (min-width: $small-desktop) {
  .project{
      width: 230px;
  }

}



