@import 'colors';
.card{
    padding: 0;
    &-body{
        padding: 10px;
    }
    
    &-header{
        border-color: none;
        border-bottom: none;
        height: 150px;
        background-color: $blue-pas;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 80%);
        align-items: center;
    }
    &-title{
        color: $yellow-pas;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 500;

    }
    
}


.skill{
    color: $yellow-pas;
    font-size: 40px;
    

    &-item{
        color: $blue-pas;
    }
}