@import 'colors';
@import 'mixins';

.skillContainer{
    @include pageDiv;
   
    .card{
        @include cardContainer;
        &-body{
            padding: 10px;
        }
        
        &-header{
            @include headerCard;
            background-image: url('../assets/backgroundImageYellow.jpg');
           
        }
        &-title{
            margin-top: 15px;
            align-items: center;
            color: $charcoal;
            font-size: 40px;

        }
    }

    .skill{
        
        justify-content: center;
        align-items: baseline;
        color: $white-pas;
        font-size: 40px;
        

        &-item{
            
            margin-left: 10px;
            padding: 5px;
            color: $charcoal;
        } 
        .fab{
            @include fontAwesome;
        }
    }

    
    
}
