@mixin pageDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
}
// Card styles ///
@mixin cardContainer{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba($charcoal, 0.3);
    background-color: $white-pas;
    text-align: center;
    margin: 10px;
    border: none;
}
@mixin headerCard{
            border-color: none;
            border-bottom: none;
            height: 150px;
            overflow: hidden;
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 80%);
            align-items: center;
}
// 
@mixin fontAwesome{

    padding: 10px;
    font-size: 50px;
    color: $charcoal;
}