.footer {
  width: 100%;
  padding: 20px;
  box-shadow: 2px 0 6px 0 rgb(130 192 204 / 20%);
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }
}