@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url(./assets/backgroundImage.jpg);
  background-size: aut;
}

a{
  text-decoration: none;
  color: #26414C;
}