@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgb(232,197,71);
  background: linear-gradient(347deg, rgba(232,197,71,0.6320903361344538) 9%, rgba(249,249,249,1) 100%);
  background-attachment: fixed;
  /*
  background-image: url(./assets/Background.jpg);
  background-attachment: fixed;
  */

}

a{
  text-decoration: none;
  color: #26414C;
}